<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보드게임</title>
    <style>
        @import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
        body {font-family:'Iropke Batang' , serif; background-color: rgb(225, 181, 212);}
        table {width: 90%; border-collapse: collapse; text-align: center;}
        #td1 {color:blue;}
        #td2 {color:red; text-align: right;}
    </style>
</head>
<body>
    <div align="center">
        <h3>보드게임 구매내용</h3>
        <table border = "1">
            <tr>
                <th>구매번호</th> <th>고객아이디</th> <th>상품명</th> <th>구매 수량</th> <th>구매일시</th>
            </tr>
            <tr th:each="a:${arr}">
                    <td th:text="${a.num}" id ="td1">num</td>
                    <td th:text="${a.mid}">mid</td>
                    <td th:text="${a.name}">name</td>
                    <td th:text="${a.ea}" id="td2">ea</td>
                    <td th:text="${a.rdate}">rdate</td>
            </tr>
        </table>
    </div>
</body>
</html>